{% extends 'base.html' %}{% block content %}
<div class="detail-layout"><div>
{% if property.image %}<img class="detail-img" src="{{ property.image.url }}">{% endif %}
{% if property.video %}<h3>Property / Access Road Video</h3><video class="video" controls><source src="{{ property.video.url }}"></video>{% endif %}
</div><div class="detail-info">
<h2>{{ property.title }}</h2><p><b>Area:</b> {{ property.area }}</p><p><b>Price:</b> UGX {{ property.price }}/month</p>
<p><b>Description:</b></p><p>{{ property.description }}</p>
<p><b>Access Road:</b></p><p>{{ property.access_road_description }}</p>
<p><b>Nearby Facilities:</b></p><p>{{ property.facilities|default:"Not specified" }}</p>
<p><b>Landlord:</b> {{ property.landlord.get_full_name|default:property.landlord.username }}</p>
{% if user.is_authenticated %}<form method="post" action="/inquiry/{{ property.id }}/" class="form-card small">{% csrf_token %}<h3>Send Inquiry</h3>{{ inquiry_form.as_p }}<button>Send Inquiry</button></form>
{% else %}<p><a href="/login/">Login</a> to send an inquiry.</p>{% endif %}
</div></div>{% endblock %}
